TZ=UTC
PORT=7066
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development

# Mysql server
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app

# Local disk drive
DRIVE_DISK=fs
DRIVE_ENDPOINT=/uploads
DRIVE_PATH=../storage

# mail server
SMTP_HOST=smtp.google.com
SMTP_PORT=1025
SMTP_USERNAME="goole email"
SMTP_PASSWORD="google password"